<table>

	<thead>
		<td></td>
		<td>Col1</td>
		<td>Col2</td>
		<td>Col3</td>
		<td>Col4</td>
	</thead>

	<tbody>

		<tr class="one">
			<td (click)="rowFirstCellClick($event)"> -</td>
			<td>1</td>
			<td>PLOUT</td>
			<td>8903</td>
			<td>900908</td>
		</tr>
		<tr class="two">
			<td (click)="rowFirstCellClick($event)"> -</td>
			<td>2</td>
			<td>START</td>
			<td>12313</td>
			<td>456546</td>
		</tr>
		<tr class="three">
			<td (click)="rowFirstCellClick($event)"> -</td>
			<td>3</td>
			<td>LTREV</td>
			<td>321312</td>
			<td>82374897</td>
		</tr>

	</tbody>

	<tfoot>

	</tfoot>

</table>